html {
  background-color: black;
}

#img-div {
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
}
#poster-img {
  border: 5px solid white;
  width: 100%;
}

#heading {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

#p {
  color: white;
  text-align: center;
}
